@model ShoppingList.Models.Ingredient_Recipe_Link

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingredient_Recipe_Link</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LinkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
